/* Generales */
$body-bg: #DFDFDF;

//Color del menú
$menu-bg:#161443;
//Color del menú
$seccion-bg:#FFF;
//Color azul oscuro
$azul-oscuro:#161442;

//Color azul claro
$azul-claro:#33d4ef;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
